<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/luis00.png" 
        class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" >
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p>Java | Spring Developer Jr.</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio eos, iusto, dolor aut perspiciatis quas culpa iste sunt architecto nesciunt exercitationem, sint eveniet magni saepe repellat nulla error aliquid a!
            </p>
        </span>
    </div>
</div>
