<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Ingeniero en informática</h1> -
                <h3>Universidad Nacional de Jujuy</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et molestiae dicta ex ea, doloribus aspernatur quod, magni deleniti reprehenderit eaque distinctio iure unde. Quae, eos porro inventore vel explicabo illo!</p>
            </li>
            <li>
                <h1>Profesor en disciplinas Industriales</h1> -
                <h3>Universidad Tecnológica</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et molestiae dicta ex ea, doloribus aspernatur quod, magni deleniti reprehenderit eaque distinctio iure unde. Quae, eos porro inventore vel explicabo illo!</p>
            </li>
            <li>
                <h1>Diplomado en peritaje informático</h1> -
                <h3>Universidad Tecnológica</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et molestiae dicta ex ea, doloribus aspernatur quod, magni deleniti reprehenderit eaque distinctio iure unde. Quae, eos porro inventore vel explicabo illo!</p>
            </li>
        </ul>
    </div>
</div>
