<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Asesor Informático/Administrativo en ADIUNJu</h1> -
                <h3>10 años</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et molestiae dicta ex ea, doloribus aspernatur quod, magni deleniti reprehenderit eaque distinctio iure unde. Quae, eos porro inventore vel explicabo illo!</p>
            </li>
            <li>
                <h1>Asesor Informático en Secretería de Extensión Universitaria de la UNJu</h1> -
                <h3>2 años</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et molestiae dicta ex ea, doloribus aspernatur quod, magni deleniti reprehenderit eaque distinctio iure unde. Quae, eos porro inventore vel explicabo illo!</p>
            </li>
            <li>
                <h1>Instructor docente en Argentina Programa</h1> -
                <h3>2 años</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et molestiae dicta ex ea, doloribus aspernatur quod, magni deleniti reprehenderit eaque distinctio iure unde. Quae, eos porro inventore vel explicabo illo!</p>
            </li>
        </ul>
    </div>
</div>